/* Reset all of the defaults to 0 so that you can write your own CSS */
/* DO NOT RELY ON BROWSER DEFAULTS */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
}

/* specifies directly; h1 tag inside the header */
header > h1 {
    text-align: center;
    padding: 8px;
}

main {
    text-align: center;
}

article {
    border-radius: 4px;
    border-style: dashed;
    border-color: white;

    border: 8px solid gray;
    display: inline-block;

    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

    margin: 10px 12px 10px 12px;
    /* top right bottom left */
	margin: 10px 12px;
	/* top10 right12 bottom10 left12 */

    text-align: left;
}

article > h2 {
    color: gray;
    padding: 4px 8px;
}

ul {
    list-style-type: none;
}
